In [3]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for i in range(10,20):
  print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
lst = [10, 20, 14, 55, 43, 87, 76]

print(f"Number of item in the Lst : {len(lst)}")

Number of item in the Lst : 7

In [8]:
word = "Artificial Intelligence"
for letter in word:
  print(letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [9]:
tupl =(1, 'Welcome', 2, 'Hope')
print(tupl)

(1, 'Welcome', 2, 'Hope')

In [29]:
tupl1 = (0, 1, 2, 3)
tupl2 = ('python','HOPE')
lst = []
lst.append(tupl1)
lst.append(tupl2)
print(tuple(lst))

((0, 1, 2, 3), ('python', 'HOPE'))

In [31]:
for num in (20,10,16,19,25,1,276,188):
  if num % 2 != 0 :
    print(f"{num} is Odd")

19 is Odd
25 is Odd
1 is Odd

In [32]:
for num in (20,10,16,19,25,1,276,188):
  if num % 2 == 0 :
    print(f"{num} is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even